<div class="navbar bg-orange-600">
  <div class="flex-1">
    <%= link_to t('header.title'), root_path, class: 'btn btn-ghost text-xl' %>
  </div>
  <div class="space-x-4">
    <%= link_to t('header.list'), "#", class: 'btn btn-neutral' %>
    <%= link_to t('header.login'), login_path, class: 'btn btn-neutral' %>
    <%= link_to t('header.create_new'), new_user_path, class: 'btn btn-neutral' %>
  </div>
</div>