<footer class="footer bg-orange-600 text-neutral-content p-5 flex flex-col items-center">
  <div class="flex justify-center space-x-5">
    <%= link_to t('footer.privacy_literacy'), "#", class: 'link link-hover' %>
    <%= link_to t('footer.terms_of_use'), "#", class: 'link link-hover' %>
    <%= link_to t('footer.contact_form'), "#", class: 'link link-hover' %>
  </div>
  <div class="text-center">
    <p><%= t('footer.copyright') %></p>
  </div>
</footer>
